/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/.mvn/
/mvnw.cmd
/mvnw
/lib/
/logs/
src/main/resources/fast-java-0.0.1-SNAPSHOT.jar
src/test/java/com/cucci/common/caches/SuperClass.java
src/test/java/com/cucci/comon/
src/test/java/com/cucci/comon/resource/application-dev.properties
